Hello {{name}}! Today is {{today}}.

This is your profile view.

* Enter <weeky> for your weekly agenda
* Enter <rules> for a list of your ping rules
* Enter <ping> to set up a new ping rule.
* Enter <sync> to sync your google contacts.

